body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b8aeae;
    color: grey;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.project {
    flex: 1 0 300px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.profile-image {
    max-width: 25%;
    border-radius: 25%;
    margin-top: 10px;
}